.App {
    min-height: 100vh;
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-dark-blue);
}

.Button {
    padding: 10px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    background-color: #fff;
    color: var(--clr-dark-blue);
    border-radius: 1rem;
    border: 2px solid var(--clr-light-blue);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: .3s;
}

.Button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.Button svg {
    margin-inline: -6px;
}

.Button.alt {
    background-color: var(--clr-dark-blue);
    color: var(--clr-light-blue);
}

.Button.alt:hover {
    background-color: var(--clr-light-blue);
    color: var(--clr-dark-blue);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.Button:active {
    transform: scale(0.9);
}