@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

:root {
    --clr-cool-blue: #5b8291;
    --clr-light-blue: #98dad9;
    --clr-dark-blue: #2e424d;
    --clr-off-white: #EAEBED;
    --clr-text: #353431;
}