@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

:root {
    --clr-light-taupe: #b49275;
    --clr-porsche: #eba55d;
    --clr-silver-sand: #c5c4c3;
    --clr-tuatara: #353431;
}